<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let pares of peliculas | pares">
    <ion-row>
      <ion-col *ngFor="let pelicula of pares">
        <ion-card class="card-pares" (click)="verDetalle(pelicula.id)">
          <img [src]="pelicula.poster_path | imagen" alt="">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-slide>
  <ion-slide class="cargar-mas">
    <ion-button (click)="cargarMasPeliculas()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-slide>
</ion-slides>