<app-header tittle="card"></app-header>

<ion-content class="ion-padding">
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, laudantium. Excepturi adipisci, ad inventore
      nostrum blanditiis perspiciatis alias minus architecto deleniti voluptas ducimus officia provident rem nulla
      suscipit nihil totam.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In culpa, accusantium voluptatibus nam
      nulla veritatis quae soluta perspiciatis unde omnis ab dolor, velit a consequuntur cupiditate sint quisquam.
      Consequatur, eum!</ion-card-content>
  </ion-card>
</ion-content>