<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->
      <!-- Esta es la manera mas facil. Con un componente especializado para abrir o cerrar el menú -->
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let component of components | async">
    <ion-item [routerLink]='component.redirectTo' detail>
      <ion-icon slot="start" [name]="component.icon" color="primary"></ion-icon>
      <ion-label>{{component.name}}</ion-label>
    </ion-item>
    <!-- <ion-item routerLink='/action-sheet' detail>
      <ion-label>Action List</ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>